* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}

.container form{
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 50px;
	margin-top: 50px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.container form p{

	display: block;
	margin: 0px auto;
	text-align: center;
	color: orangered;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	height: 50px;
	width: 160px;
	font-size: 16px;
}

button[type="submit"]:hover {
	background-color: #0069d9;
}
